*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-thumb{
    background-color: #441d1d;
    border-radius: 8px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #220e0e;
    border-radius: 8px;
}


.centro{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/pexels-pixabay-257385.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.centro2{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.048),
        rgba(0, 0, 0, 0)
    )
    ,url("../img/curtain-1275200_1920.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.centro3{
    margin-top: 10px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/mario-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.backgrounds{
    background-color: black;
}
.backgrounds2{
    background-color: #9f3647;
}
.input {
    border: 1px solid white;
    border-radius: 15px;
    color: black;
    font-size: 2vw;
    height: 50px;
    margin: 20px 0px;
    padding: 0px 20px;
    width: 50vw;
}
.button {
    position: relative;
    background-color: rgba(255, 0, 0, 0.448);
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    font-size: 1vw;
}
.footer {
    background-color: #441d1d;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .color {
    background-color: rgb(41, 41, 41);
  }
  .text-overlay {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgba(255, 255, 255, .8); 
    font-size: 20px; 
    font-weight: bold; 
    background: rgba(0,0,0,0.4);
    opacity: 0;
    transition: .5s;
}

.box:hover .text-overlay{
    opacity: 1;
}
button {
    box-sizing: content-box;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    background-color: #9f3647;
    color: white;
    border: 1px white solid;
    margin: 50px 10px 0;
    padding: .6rem .6rem;
    font-size: 1.2rem;
}

.backimg{
    background-color: black !important; 
}

.imagencard {
width: 18vw !important;
border: 10px;
border-radius: 30px;
}

button:hover {
    background-color: #c45b5b; 
    color: #000; 
}
hr {
    border-top: 10px solid red!important;
    width: 70vw!important;
    margin: 80px auto 80px auto!important;
    color: inherit;
    border-radius: 10px!important;
    opacity: .25!important;
}
.scroll::-webkit-scrollbar{
    width: 15px;
}
.scroll::-webkit-scrollbar-thumb{
    background-color: #441d1d;
    border-radius: 8px;
}
.scroll::-webkit-scrollbar-thumb:hover{
    background-color: #220e0e;
    border-radius: 8px;
}
.contenedor {
    display: flex;
    margin: 20px;
    background-color: #181419;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.image img {
    max-width: 300px;
    border-radius: 10px;
    margin-right: 20px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;;
}

.details h2 {
    margin: 20px 0 10px 0;
    font-size: 20px;
    color: #ffffff;
}

.details p {
    margin: 5px 0;
    font-size: 16px;
    color: #ffffff;
}

.details h3 {
    margin: 15px 0 5px 0;
    font-size: 18px;
    color: #ffffff;
}


.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
    color: #fff;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}



.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}